* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html //
html {
    scroll-behavior: smooth;
}

// body //
body {
    .form-control:focus {
        box-shadow: none !important;
    }

    .btn-check:focus+.btn,
    .btn:focus {
        box-shadow: none !important;
    }

    img {
        object-fit: cover;
        object-position: center;
    }
}

// .Root //
.Root {
    overflow-x: hidden;
}

// heading //
.heading h2 {
    font-family: "Roboto Serif", sans-serif;
    font-weight: 500;
}

// navigation //
.navigation {
    .logo {
        color: #198754;
        font-family: "Roboto Serif", sans-serif;
        font-weight: 600;

        &:hover {
            color: #198754;
        }
    }

    .navUl {
        a {
            transition: 0.3s all ease-in-out;

            &:hover {
                color: #198754 !important;
            }
        }
    }

    .navbar-toggler {
        border: 1px solid #198754;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}

// banner //
.banner {
    img {
        min-height: 70vh;
        max-height: 85vh;
    }

    .carousel-indicators [data-bs-target] {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 5px;
    }

    h1 {
        font-family: "Roboto Serif", sans-serif;
        font-weight: 500;
    }
}

// about //
.about p {
    font-family: "Roboto Serif", sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
}

// services //
.services .card {
    overflow: hidden;

    img {
        height: 15rem;

        &:hover {
            transition: 0.3s all ease-in-out;
            transform: scale(1.1);
        }
    }
}

// courses //
.courses {
    background-color: #f3f0f0;

    .coursesBox {
        border-radius: 5%;
        cursor: pointer;
        width: 250px;
        transition: 0.3s all ease-in-out;

        &:hover {
            transform: translateY(-1rem);
        }

        img {
            width: 200px;
            height: 200px;
        }

        h4 {
            font-weight: 600;
        }
    }
}

// Blog //
.blog {
    background-color: #e9e9e9;

    .feature {
        transition: 0.3s ease-in-out all;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
    }
}

// wallpaper //
.wallpaper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../image/bestOne.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;

    .wallpaperContent {
        height: 100vh;
        align-items: center;

        p {
            font-size: 4rem;
        }
    }
}

// footer //
.footer {
    position: relative;

    .menueUl li a {
        transition: 0.3s all ease-in-out;

        &:hover {
            color: #198754 !important;
        }
    }

    .up {
        display: none;
        position: fixed;
        right: 2rem;
        bottom: 6rem;
        width: 3rem;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.288);
        border-radius: 50%;
        transition: .3s ease-in-out;

        &:hover {
            background-color: #000;
        }

        i {
            color: white;
            font-size: 2.8rem;
            padding-left: 0.6rem;
        }
    }

    .footerDown {
        p {
            font-family: "Roboto Serif", sans-serif;
            font-size: 1.1rem;
        }

        .footerUl li {
            padding-left: 1.3rem;

            i {
                color: #fff;
                font-size: 2rem;
                transition: 0.3s all ease-in-out;

                &:hover {
                    color: #198754;
                }
            }
        }
    }
}

// ----------------- media query ------------ //
@media (max-width: 548px) {
    .wallpaper .wallpaperContent {
        width: 100% !important;
        padding: 0 1rem;

        p {
            font-size: 3rem;
        }
    }

    .footerDown {
        p {
            margin-bottom: 1rem !important;
        }

        justify-content: space-around !important;
    }
}

@media (max-width: 350px) {
    .navbar .form {
        display: none;
    }

    .navbar-brand {
        margin-right: 0rem;
        font-size: 0.8rem;
    }
}